.header {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  background: transparent;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 16px;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 768px) {
  .headerLeft {
    display: none;
  }
}

