.callEndedContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 1rem;
  overflow-y: scroll;

  figure {
    display: grid;
    position: relative;
    margin: 0;
    background-color: rgb(234, 229, 222);

    .stampImage {
      position: absolute;
      inset-inline-end: 0;
      inset-block-start: 0;
      width: 64pt;
      place-self: start;
      z-index: 2;
    }
    
    .santaImage {
      mix-blend-mode: multiply;
      width: 100%;
      max-width: 300px;
      min-width: 256px;
      place-self: center;
    }
  }

  section {
    display: grid;
    gap: 0.5rem;
    grid-auto-rows: min-content;

    h1 {
      margin-block-end: 0;
      text-wrap: balance;
    }
  
    p {
      margin-block-start: 0;
      font-size: 0.9rem;
      text-wrap: pretty;
    }

    a {
      display: inline-block;
      width: 90%;
      margin-inline: auto;
      min-width: fit-content;
      text-align: center;
      text-transform: uppercase;
      padding: 0.5rem 1rem;
      background-color: #F14C70;
      color: #fff;
      font-weight: 700;
      text-decoration: none;
      box-shadow: 3px 3px 0 #000;
    }
    
    span.shareRowDivider {
      display: flex;
      align-items: center;
      text-align: center;
      margin-block: 0.5rem;
      font-size: 0.85rem;
      font-weight: 500;
      text-transform: uppercase;
      gap: 1rem;
      color: color-mix(in srgb, black 50%, transparent);

      &::before,
      &::after {
        content: '';
        flex: 1;
        height: 1px;
        background-color: color-mix(in srgb, black 20%, transparent);
      }
    }

    /* Share to social buttons */
    div {
      display: grid;
      grid-auto-rows: min-content;
      grid-template-columns: repeat(3, auto);
      place-items: center;
      width: fit-content;
      margin-inline: auto;
      gap: 1.5rem;

      a {
        display: contents;
        img {
          grid-row: 1;
          background-color: black;
          padding: 0.5rem;
        }

        img[alt$="LinkedIn"] {
          background-color: #0072B1;
        }

        img[alt$="Facebook"] {
          background-color: #0866FF;
        }
      }
    }
  }
}

/* max width 768px */
@media (max-width: 768px) {
  .callEndedContainer {
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;

    figure {
      order: -1;
      width: 100%;
      margin-block: 1rem;
    }
  }
}